<section class="container-fluid footer_sec">
  <div class="row">
    <div class="col-2">
      <div class="seller" >
        <h4> Seller </h4>
        <a href="#">WholeSale</a><br>
        <a href="#">Retail</a>
      </div>
    </div>
    <div class="col">
      <div class="make_money">
        <h4> MAKE MONEY WITH US</h4>
        <a href="#"> Sell on Ecommerce </a><br>
        <a href="#"> Become an Affiliate </a><br>
        <a href="#"> Advertise with us</a>
      </div>
    </div>
    <div class="col">
      <div class="customer_support" >
        <h4> CUSTOMER SUPPORT </h4>
        <a href="#"> Contact Us </a><br>
        <a href="#"> Shipping and Order Tracking </a><br>
        <a href="#"> Replacement </a>
      </div>
    </div>
    <div class="col">
      <div class="social" >
        <input placeholder="E-mail Id..." class="input">
        <button class="subscribe">Subscribe</button><br><br>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="far fa-share-square"></i></a>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col">
      <div class="copyrights">
        <a href="#"> Privacy Notice </a>
        <p> &copy; 2018 Ecommerce.com, All rights reserved </p>
      </div>
    </div>
  </div>
</section>