<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/Home']" >
    <img src="assets/logo.png" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Home' *ngIf="currentURLs.Home" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Userhome' *ngIf="currentURLs.Userhome" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Register' *ngIf="currentURLs.Register" >Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Login' *ngIf="currentURLs.Login" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Aboutus' >About Us</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Myaccount' *ngIf="currentURLs.Myaccount" >MyAccount</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='/Cart' *ngIf="currentURLs.Cart" ><i class="fas fa-cart-arrow-down"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" style="cursor:pointer" (click)="logout()" *ngIf="currentURLs.Logout" > Logout </a>
      </li>
    </ul>
  </div>
</nav>
